@model Garage2.Vehicle
@{
    ViewBag.Title = "Hämta fordon";
}
    <h3>Är du säker på att du vill hämta ut @Html.DisplayFor(model => model.Type).ToString().ToLower() med registreringsnr: <span class="alert-danger">@Html.DisplayFor(model => model.RegNr)</span> ?</h3>
    <div>
        <h4>Fordon</h4>
        <hr />
        <dl class="dl-horizontal">   
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Wheels)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Wheels)
            </dd>
        </dl>
    
        @using (Html.BeginForm("receipt", "garage")) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                @Html.HiddenFor(model => model.Id)
                <input type="submit" value="Bekräfta" class="btn btn-danger" /> &nbsp;
                @Html.ActionLink("Tillbaka till översikten", "Index", null, new { @class = "btn btn-primary", role = "button" })
            </div>
        }
    </div>
